.figures{
    background-color: $font-color-light;
    grid-area: fig;
    height: 150vh;
}

.figures_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 120vh;
    font-size: 4rem;
    .text{
        text-align: center;
        display: block;
        line-height: 8rem;
        span{
            display: block;
            font-size: 6rem;
        }
        p{
         word-wrap: break-word;
         line-height: 2.4rem;
        }
    }
}

.pic_container{
    .pic{
        width: 80rem;
        
    }
}